{% extends 'base.html.twig' %}

{% block title %}Add Stock
{% endblock %}

{% block body %}
	<div class="container containerForm">
		<div class="card p-4 col-6">
			<h1>Add Stock for
				{{ product.name }}</h1>
			{% include "layouts/flash_message.html.twig" %}
			{{ form_start(form) }}
			{{ form_row(form.quantity, {"attr" : {"class" : "form-control mb-3"}}) }}
			<input type="submit" class="btn btn-success btn-block" value="Add Stock">
			{{ form_end(form)  }}

		</div>
	</div>
{% endblock %}
